extends layout

block content
  h1= formProduct
  form(method='POST' action='/api/products')
              div.mb-3
                label.form-label(for='name') Title:
                input#name.form-control(type='text', placeholder='Enter a title for the product' name='title')
              div.mb-3
                label.form-label(for='price') Price:
                input#price.form-control(type='number', placeholder='Enter a price for the product' name='price')
              div.mb-3
                label.form-label(for='thumbnail') Thumbnail:
                input#thumbnail.form-control(type='text', placeholder='Enter a thumbnail' name='thumbnail')
              button.btn.btn-primary(type="submit") Send